:root{
    font-size: 10px;
}
body{
    margin: 0;
}
.container{
    position: relative;
    min-height: 100vh;
    min-width: 100%;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parallax{
    background: url('../images/image_2.jpg');
    background-size: cover;
    filter: hue-rotate(3deg);
    color: white;
    background-attachment: fixed;
    background-size: cover;
    font-size: 3rem;
}
.float{
    position: absolute;
    bottom: 4rem;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
}
.btn{
    background: url('../images/float-down.png');
    width: 3rem;
    height: 3rem;
    background-size: contain;
    transition: all 300ms;
    background-repeat: no-repeat;
    animation: jump 800ms ease-in-out infinite alternate;
}
.footer{
    background: rgba(57, 44, 156,0.9);
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
}
.footer .links img:hover{
    transform: scale(1.3);
    transition: all 300ms;
}
@keyframes jump{
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(0px);
    }
}
@media (max-width:720px){
    :root{
        font-size: 8px;
    }
}
